<html>
	<head>   
		<style>
			body 
				{
					background-repeat: no-repeat;
  					background-attachment: fixed; 		
  					background-image: url('https://static-cse.canva.com/blob/571035/30examplesofpastelcolorsfeaturedimage.jpg');
  					background-size: 100%;
				}
			h1 {text-align: center;}
		</style>       
	</head>
	<body>
		<div class="container">
			<div class="row">	
				<h1>Wellcome</h1>
			</div>
			<br>
			<br><br>
			<div class="row">	
				<h1>You have successfully signed in<strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a></h1>
			</div>		
		</div>
	</body>
</html>