<html>
	<head>
		<style>
			body 
				{
					background-repeat: no-repeat;
  					background-attachment: fixed; 		
  					background-image: url('https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=360');
  					background-size: 100%;
				}
			h1 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
		</style>         
	</head>
	<body>
		<div class="container">
			<h2>User Registration</h2>
			<form action="{{ url_for('register') }}" method="post">
        		{% if mesage is defined and mesage %}
				<div class="alert alert-warning">{{ mesage }}</div>
				{% endif %}
				<div class="form-group">
					<label for="name">First Name:</label>
					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name" >
				</div>
				<div class="form-group">
					<label for="name">Last Name:</label>
					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name" >
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" >
				</div>
	
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" >
				</div>

				<div class="form-group">
					<label for="pwd">confrom Password:</label>
					<input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="conform password">
				</div> 
				<button type="submit" class="btn btn-primary">Register</button>
				<p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
			</form>
		</div>        
	</body>
</html>